@font-face {
    font-family: gotFont;
    src: url(/font/Game\ of\ Thrones.ttf);
}

body {
    box-sizing: border-box;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.character-div {
    width: 70%;
}

.sidebar-div {
    text-align: center;
    background-color: #786262;
    width: 30%;
}

.character-div--container {
    background: url(../assets/site/mapblue.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-div--unit {
    text-align: center;
    width: calc(100%/8);
}

.character-div--unit:hover {
    font-weight: bold;
}

.sidebar-div img {
    width: 60vh;
}

.sidebar-div--search-input {
    bottom: 20%;
    position: fixed;
    width: 30%;
}

.sidebar-div--click-area {
    top: 0;
    position: fixed;
}

#search-input {
    height: 30px;
    width: 50%;
}

.search-button--arrow {
    height: 30px;
    left: 0px;
    position: relative;
    top: 11px;
}

.character-div--portrait img {
    filter: grayscale(100%);

}

.character-div--portrait img:hover {
    filter: grayscale(0%)
}